# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules


# testing
/client//coverage

# production
/client/build


/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
